/*=============================================
=            Color y Border de los Inputs , cuando se presentan errores           =
=============================================*/

.was-validated .form-control:invalid, 
.form-control.is-invalid,
.was-validated .custom-select:invalid, 
.custom-select.is-invalid{
	color : #aa3545 !important;
	border-color: #aa3545 !important;
}

.invalid-feedback{
	color : #aa3545 !important;
}

/*=====  Color y Border de los Inputs , cuando se presentan errores    ======*/


